/* 通用 */
.remove_sidebar .removesidebar .remove-input {
    align-self: normal;
    flex: 1;
    border-radius: 4px;
    margin-right: 16px;
    padding-left: 5px;
    transition: all 100ms ease-out;
    background-color: rgba(127, 127, 127, 0.1);
    
}

.remove_sidebar .removesidebar .remove-input:focus {
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.wrap .removeinput {
    margin-top: 6px;
}

.wrap>div>span {
    font-size: 12px;
    font-weight: var(--font-bold);
    line-height: 16px;
    margin-bottom: 0px;
}

.wrap>span {
    float: right;
    font-size: 12px;
    margin: 6px;
}

.wrap>span>a {
    color: var(--hover-link);
}

.liteloader .vertical-list-item.bottom-box {
    margin-top: 3px;
}
